.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
    border: black 2px solid;


}

.value {
    font-family: 'digital';
    font-size: 2rem;
}